{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}FinalProj{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>INPUT {{number}}</h1>
</div>
{{ wtf.quick_form(form) }}
<div class="page-header">
    <h2>Table of all users</h2>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Sex</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone</th>
        <th scope="col">email</th>
        <th scope="col">location</th>
        <th scope="col">Last name</th>
        <th scope="col">Photo</th>
        <th scope="col">Profile</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>
{% endblock %}


