{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}FinalProj{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>INPUT {{number}}, table {{counter}}</h1>
</div>
{{ wtf.quick_form(form) }}
<div class="page-header">
    <h2>Table of all users</h2>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Sex</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone</th>
        <th scope="col">email</th>
        <th scope="col">location</th>
        <th scope="col">Photo</th>
        <th scope="col">Profile</th>
    </tr>
    </thead>

    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.sex }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.location }}</td>
        <td>{{ user.photo }}</td>
        <td><a href="/user/{{ user.id }}">Go to profile{{ user.id }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


