{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macro.html" as macros %}

{% block title %}RandomUser{% endblock %}

{% block page_content %}

    {{ wtf.quick_form(users_to_load_form) }}

<div class="page-header">
    <h2>Table of all users</h2>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Sex</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone</th>
        <th scope="col">email</th>
        <th scope="col">location</th>
        <th scope="col">Photo</th>
        <th scope="col">Profile</th>
    </tr>
    </thead>

    <tbody>
    {% for user in users[:1000] %}
    <tr>
        <th scope="row">{{ user.user_id }}</th>
        <td>{{ user.gender }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.country }}, {{ user.city }}</td>
        <td><img src="{{ user.picture_s }}"></td>
        <td><a href="/user/{{ user.user_id }}">Go to profile{{ user.id }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
    {{ wtf.quick_form(users_per_page_form) }}
</div>
{% endif %}
{% endblock %}


