{% extends "base.html" %}
{% block title %}User: {{ user_id }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>{{user_id}}. {{ user.title}} {{ user.first_name }} {{ user.last_name }}</h2>
</div>

<div>
    <table width="100%">
        <tr>
            <td width="150px">
                <img src="{{ user.portrait_large }}" align="left">
            </td>
            <td align="left" valign="top">
                <ul class="list-unstyled h5">
                    <li>Gender: {{ user.gender }}</li>
                    <li>Email: {{ user.email }}</li>
                    <li>Phone: {{ user.phone }}</li>
            </td>
            <td align="right" valign="top">
                <ul class="list-unstyled h5">
                    <li><a href="/user/{{user_id}}/change_data"><big><big>✎</big>Change
                        text</big></a>
                    <li><a href="/user/{{user_id}}/change_portrait"><big><big>✎</big>Change
                        photo</big></a>
                </ul>
            </td>
        </tr>
    </table>
</div>


<div class="h3">
    <ul class="list-unstyled h5">

        <li>Cell: {{ user.cell }}</li>
        <li>DoB: {{ user.date_of_birth }}
    </ul>

    location:
    <ul class="list-unstyled h5">
        <li>Street name: {{ user.street_name }}
        <li>City: {{ user.city }}
        <li>State: {{ user.state }}
        <li>Country: {{ user.country }}
        <li>Postcode: {{ user.postcode }}
    </ul>
</div>
{% endblock %}
